<nav class="navbar">  
  
  <div class="wrContent"> 
      <div class="brand"><a routerLink="/home"><img id="logo" src="assets/gfx/ScubaSunLogo.png" alt="Logo" /></a></div>
        

        <div class="menu">
            <ul id="desktopMenu">
              <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/home']">Home</a></li>
              <li routerLinkActive="active" class="mobileMenuItem"><a routerLink="/kurser">Kurser</a>
              <li routerLinkActive="active" class="mobileMenuItem"><a routerLink="/holdstart">Holdstart</a>
              <li routerLinkActive="active" class="mobileMenuItem"><a routerLink="/contact">Kontakt</a></li>
          
            <!--  <li routerLinkActive="active" class="mobileMenuItem parent"><a routerLink="/aktiviteter">Aktiviteter</a>
             <ul class="submenu" style="display:none;">
                  <li>Svømmehal</li>
                  <li>Uddannelse</li>
                  <li>Klubaftner</li>
                  
                </ul>
              </li>-->
              
            </ul>
            

        <div id="toggleMenu" class="fa fa-bars"></div>
      </div>      
    </div>  
</nav>

  <router-outlet></router-outlet>

<footer id="footer">        
 <div class="wrContent">ScubaFun, Svinget 2, 8570 Trustrup, +45 42 78 96 05, contact@scubafun.dk</div>
</footer>