<ul id="slider" class="bxslider">
  <li><img src="../assets/Slides/5.jpg" /></li>
  <li><img src="../assets/Slides/6.jpg" /></li>
  <li><img src="../assets/Slides/7.jpg" /></li>
  
</ul>
 
<section class="wrContent">
<h1 [innerHTML]="frontpage.Headline"></h1>

<article id="colWR">
<span class="textCol" [innerHTML]="frontpage.Content"></span>
</article>

<img src="{{frontpage.Image}}" alt="Padi logo" id="logo2" />
</section>

<!-- <div class="wrContent per">
  <app-i-box class="iBoxWR" *ngFor="let iBox of homeText" [iBox]="iBox"></app-i-box>
</div>

<div class="wrContent per">
    <app-p-box class="pBoxWR" *ngFor="let pBox of homeOffers" [pBox]="pBox"></app-p-box>
</div> --> 